.eight{
    .contain{
        &__h3{
            font-size: 24px;
            font-weight: 600;
        }
        .slider{
            ul{
                li{
                    border: 1px solid $kulrang;
                    padding: 10px;
                    width: 100%;
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;
                    .card1{
                        width: 49%;
                        display: flex;
                        align-items: center;
                        gap: 12px;
                        font-size: 14px;
                        img{
                            width: 40%;
                        }
                        .red{
                            color: $qizil;
                        }
                    }
                    .bottom{
                        display: flex;
                        justify-content: space-between;
                        margin: 10px 0;
                        width: 100%;
                        padding-top: 10px;
                        border-top: 1px solid $kulrang;
                        p{
                            display: flex;
                            justify-content: space-between;
                            margin: 1px 0 3px;
                            b{
                                width: 90px;
                            }
                            button{
                                font-size: 10px;
                                right: 10px;
                                border: 1px solid $yashil;
                                color: white;
                                background-color: $yashil;
                                padding: 2px 3px;
                                border-radius: 3px;
                            }
                            button:hover{
                                background-color: white;
                                color: $yashil;
                            }
                            .red{
                                color: $qizil;
                            }
                        }
                        .left{
                            color: grey;
                            font-size: 14px;
                        }
                    }
                }
            }
        }
    }
}

@media(max-width:600px){
    .eight{
        .contain{
            .slider{
                .card1{
                    font-size: 12px;
                    flex-wrap: wrap;
                    text-align: center;
                    img{
                        width: 100% !important;
                    }
                    .text{
                        margin: 10px auto;
                        font-size: 12px;
                        width: 100%;
                    }
                }
            }
        }
    }
}