.nine{
    .contain{
        &__h3{
            font-size: 24px;
            font-weight: 600;
        }
        &__ul{
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            margin: 10px 0;
            padding-bottom: 20px;
            border-bottom: 1px solid $kulrang;
            li{
                width: 15%;
                font-size: 13px;
                margin: 5px 0;
                img{
                    width: 90px;
                }
                a{
                    color: $kok;
                }
                button{
                    font-size: 10px;
                    right: 10px;
                    border: 1px solid $yashil;
                    color: white;
                    background-color: $yashil;
                    padding: 2px 3px;
                    border-radius: 3px;
                }
                button:hover{
                    background-color: white;
                    color: $yashil;
                }
            }
        }
    }
}

@media(max-width:900px){
    .nine{
        .contain{
            &__ul{
                padding-left: 0;
                display: flex;
                flex-wrap: wrap;
                li{
                    width: 32%;
                }
            }
        }
    }
}

@media(max-width:400px){
    .nine{
        .contain{
            &__ul{
                display: flex;
                flex-wrap: wrap;
                li{
                    width: 48%;
                }
            }
        }
    }
}