.second{
    .contain{
        margin-top: 60px;
        &__h2{
            font-size: 24px;
            font-weight: 600;
        }
        &__a{
            margin-left: calc(100% - 150px);
            color: $kok;
            font-size: 13px;
            width: 150px;
        }
        .main{
            margin: 10px 0;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            .card1{
                width: 16%;
                border: 1px solid $kulrang;
                box-shadow: 0 0 7px $kulrang;
                .top{
                    img{
                        cursor: pointer;
                        margin-left: calc(100% - 50px);
                        width: 50px;
                    }
                }
                .center{
                    padding: 1px 5px;
                }
                .bottom{
                    padding: 1px 5px;
                    h3{
                        font-size: 12px;
                        font-weight: 600;
                        margin: 1px 0;
                    }
                    span{
                        font-size: 12px;
                        color: $kulrang;
                        i{
                            font-size: 10px;
                            color: #FFCD1B;
                        }
                    }
                    p{
                        display: flex;
                        justify-content: space-between;
                        margin: 1px 0 3px;
                        button{
                            font-size: 10px;
                            border: 1px solid $yashil;
                            color: white;
                            background-color: $yashil;
                            padding: 2px 3px;
                            border-radius: 3px;
                        }
                        button:hover{
                            background-color: white;
                            color: $yashil;
                        }
                        .red{
                            color: $qizil;
                        }
                    }
                }
            }
            .card1:hover{
                transform: scale(1.03);
                cursor: pointer;
            }
            .card1:first-child{
                .top{
                    display: flex;
                    justify-content: space-between;
                    img{
                        margin: 0;
                    }
                }
            }
        }
    }
}

@media(max-width:950px){
    .second{
        .contain{
            .main{
                .card1{
                    width: 32%;
                    margin: 10px 0;
                }
            }
        }
    }
}

@media(max-width:565px){
    .second{
        .contain{
            .main{
                .card1{
                    width: 49%;
                }
            }
        }
    }
}