$yashil: #06A56C;
$qizil: #E93232;
$kok: #01579B;
$kulrang: #d9d9d9;
$toqkulrang: #999999;
$qora: #333333;

@import 'base.scss';
@import 'showcase.scss';
@import 'second.scss';
@import 'third.scss';
@import 'fourth.scss';
@import 'five.scss';
@import 'six.scss';
@import 'seven.scss';
@import 'eight.scss';
@import 'nine.scss';
@import 'ten.scss';
@import 'footer.scss';
